// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.city-group{
.slim{}}
.field{
 color: #282;
 input{
  background-color: #EEFFBB;
  color: #282;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  font-size: 1em;
  border: 1% solid;
  border-radius: 10px;
}	
}
.actions{
input{
  background-color: #EEFFBB;
  color: #282;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  font-size: 1em;
  border: 1% solid;
  border-radius: 10px;
}
}