<%= button_to 'Back', store_index_path(), method: :get%>
<% @products.each do |product| %>
  <div class="entry">
  	<%= link_to image_tag(product.image_url), "/categories/#{product.category_id}/products/#{product.id}" %>
  	<h3><%= product.title %></h3>
  	<span class="price"><%= number_to_currency(product.price) %></span>
  	
  </div>
<% end %>