<%if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% @categories.each do |category| %>
  <div>
    <%= button_to "#{category.title}", products_category_path(category), method: :get %>
  </div>
<% end %>